<div class="footer container text-center" id="contact">
  <ul class="footer-icons list-inline">
    {{ range $.Site.Params.social }}
      <li>
        <div class="row">
          <div class="col">
            <a href="{{ .link | safeURL }}" target="_blank" rel="noreferrer"
              ><i class="{{ .icon }} footer-icon fa-2x" aria-label="{{ .alt }}"></i
            ></a>
          </div>
          <div class="col footer-icon-text" style="font-size: 14px; margin:10px;">
            {{ .text }}
          </div>
        </div>
      </li>
    {{ end }}
  </ul>
  <div class="credit" style="font-size: 11px">
    {{ $.Site.Params.copyright | markdownify }}
    <span id="current-year"></span>
  </div>
</div>
